# This is a basic workflow to help you get started with Actions

name: Test Commit

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      id:
        description: id for test commit file
        required: true
        default: "0"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Git User
        run: |
         git config --global user.email "serkarankalsi@gmail.com"
         git config --global user.name "Karan Kalsi"
      - name: set env
        run: echo "BUMP_BRANCH=webapp_bump_$(date '+%Y%m%d%H%M')" >> $GITHUB_ENV
      - name: test env
        run: echo $BUMP_BRANCH


